.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

body{
  margin: 0;
  padding: 0;
}
.addTask {
  height: 30vh;
  background-color: dodgerblue;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addTask input {
  height: 50px;
  border: 1px solid blue;
  font-size: 30px;
  border-radius: 3px;
  
}
addTask input:focus{
  border: 1px solid green;
  box-shadow: 0 0 10px green;
  outline: none !important;
}
.addTask button {
  height: 51px;
  border: none;
  margin-left: 10px;
  background-color: blue;
  cursor: pointer;
  color: white;
  border-radius: 3px;
  width: auto;
  border: 1px solid white;
  font-size: 20px;
}

.list {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.task {
  height: 50px;
  width: auto;
  display: flex;
  margin: 15px;
  align-items: center;
  justify-content: center;
}

.task button {
  width: 80px;
  height: 40px;
  /*margin-left: 10px;
  margin-right: 10px;*/
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}
.task h1 {
  margin-right: 20px;
}

.taskbtns {
  margin-left: auto;
  background-color: lightblue;
  align-items: center;
  justify-content: center;
}

.completebtn {
  background-color: green;
  height: 3px;
  color: white;
  margin-right: 10px;
}

.deletebtn {
  background-color: red;
  color: white;
  font-size: large;
  margin-left: 10px;
}

.time {
  color:dodgerblue;
  text-align: center;
  font-size: 20px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.time h1 {
   margin-left: 20px;
   display: inline-block;
   align-items: center;
   text-align: center;
}
.time h6 {
  font-size: 5px;
  width: 60px;
  display: inline-block;
  
}
.time img {
  width: 100%;


}
.clockncalendar {
  display: inline-block;
  text-align: right;
  align-items: right;
  justify-content: right;
}

@media screen and (max-width: 480px) {
.addTask input {
  height: 30px;
  border: 1px solid blue;
  font-size: 15px;
  border-radius: 3px;
  
}
.addTask button:focus {
  border: 1px solid green;
}
.addTask button {
  height: 34px;
  font-size: 15px;
  width: auto;

}
.task h1{
  font-size: 10px;
  word-wrap: bread-word;
  max-width: 180px;
}
.task button {
  height: 30px;
  font-size: 10px;
  width: 60px;
  
}
.taskbtns {
  width: auto;

}
.time {
  font-size: 15px;
}
.completebtn {
  margin-right: 2px;

}
.deletebtn{
  margin-left: 2px;

}
}